@model IEnumerable<ToDoApp.Models.MyTask>
@{
    ViewBag.Title = "My Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Tasks</h2>

@if (!Model.Any())
{
    <p>You don't have any tasks at this time.</p>
}
else
{
<p>You have @Model.Count() active tasks.</p>
@Html.ActionLink("New Task", "New", "MyTasks", null, new { @class = "btn btn-primary"})
    <hr />
    <table id="myTasks" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Task</th>
                <th>Created</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
            <tr>
                <td>@Html.ActionLink(task.Name, "Edit", "MyTasks", new { id = task.Id}, null)</td>
                <td>@task.Created</td>
                <td>@task.Deadline</td>
                <td>@task.TaskStatus.Name</td>
                <td>@Html.ActionLink("View/Edit", "Edit", "MyTasks", new { id = task.Id }, null) | @Html.ActionLink("Delete", "Delete", "MyTasks", new { id = task.Id }, null)</td>
            </tr>
            }
        </tbody>
    </table>
}

@section scripts 
{
    <script>
        $(document).ready(function () {
            $("#myTasks").DataTable();
        });
    </script>
}