@model IEnumerable<ToDoApp.Models.MyTask>
@{
    ViewBag.Title = "My Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Tasks</h2>

@if (!Model.Any())
{
    <p>You don't have any tasks at this time.</p>
}
else
{
<p>You have @Model.Count() active tasks.</p>
@Html.ActionLink("New Task", "New", "MyTasks", new { @class = "btn btn-primary"})
    <hr />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Task</th>
                <th>Created</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
            <tr>
                <td><a href=""> @task.Name </a></td>
                <td>@task.Created</td>
                <td>@task.Deadline</td>
                <td>@task.TaskStatus.Name</td>
                <td><a href=""> View/Edit </a> | <a href=""> Abandon </a></td>
            </tr>
            }
        </tbody>
    </table>
}
